.btn {
  display: block;
  background-color: #023e8a;
  color: #fff;
  font-family: inherit;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}
